{# templates/post/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Posts | Serene Chronicles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/post_list.css') }}">
{% endblock %}

{% block body %}
    <div class="posts">
        <h2>Recent Posts</h2>
        {% for post in pagination.items %}
            <article class="post">
                <h2><a href="{{ path('app_post_show', { 'id': post.id }) }}">{{ post.title }}</a></h2>
                <p class="post-meta">Published on {{ post.createdAt|date('F j, Y') }}</p>
                <p>{{ post.content|raw|slice(0, 200) }}...</p>
                <a href="{{ path('app_post_show', { 'id': post.id }) }}">Read more</a>
            </article>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}